<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Todo App</title>
  </head>

  <body>
    <h1>GoでTodoアプリ</h1>
    <h2>追加</h2>
    <form method="post" action="/new">
      <p>
        内容<input
          type="text"
          name="text"
          size="50"
          placeholder="タスクを入力"
        />
      </p>
      <p>
        状態
        <select name="status">
          <option value="未完了">未完了</option>
          <option value="実行中">実行中</option>
          <option value="終了">終了</option>
        </select>
      </p>
      <p><input type="submit" value="Send" /></p>
    </form>

    <ul>
      {{ range .todos }}
      <li>
        [内容]{{ .Text }}　　　　　[状態]{{ .Status }}
        <label><a href="/detail/{{.ID}}">編集</a></label>
      </li>
      {{end}}
    </ul>
  </body>
</html>
